[submodule "signaling"]
	path = signaling
	url = git@github.com:camfire/signaling.git
	branch = develop
[submodule "ansible/signaling"]
	path = ansible/signaling
	url = git@github.com:camfire/ansible-playbook-signaling.git
	branch = develop
[submodule "media"]
	path = media
	url = git@github.com:camfire/media.git
	branch = develop
[submodule "web"]
	path = web
	url = git@github.com:camfire/web.git
	branch = develop
